# Hello World

In [1]:
# This is how we write comments in python
print("Hello World") #'print()' is a function that gives output of object inside it's parenthesis.

Hello World

# Data Types

### There are four main data types in python

#### 1. String

In [15]:
name = "momin hosan emon" #This is a variable with string data.
print(f"My name is {name.title()}")

My name is Momin Hosan Emon

#### 2. Boolean

In [8]:
active = False # This is a variable with boolean data.
if active:
    print("Already active")
else:
    active = True
    print("Activated")

Activated

#### 3. Integer

In [10]:
print(24564) # All whole positive & negative numbers are integer

24564

#### 4. Float

In [11]:
print(665.546548765468986) # All fraction numbers are float

665.546548765469

In [21]:
print(type(active)) # Shows the data type of a variable.

<class 'bool'>

# String Methods

In [16]:
print(name.upper()) # Shows all the letter in upper case.

MOMIN HOSAN EMON

In [17]:
print(name.lower()) # Shows all the letter in lower case.

momin hosan emon

In [18]:
print(name.title()) # Shows first letter of a word in upper case.

Momin Hosan Emon

In [23]:
print(name.count('m')) # Counts how many 'm' are in this string.

3

In [29]:
print(name.replace('e','i')) #Every 'e' letters will get replaced by the letter 'i' but it doesn't change the original variable.
name # The variable is not changed

momin hosan imon

'momin hosan emon'

# Variable

In [30]:
varName ="Hello world" #This is a simple variable

# String Concatenation

In [34]:
concatenateString = varName+" My name is "+name.title()
print(concatenateString)

Hello world My name is Momin Hosan Emon

# f String

In [35]:
print(f"{varName} My name is {name.title()}") # f string used to make inline string concatenations.

Hello world My name is Momin Hosan Emon

# List

In [1]:
listName = ['itemOne', 'itemTwo', 3, 'itemFour']
listName

['itemOne', 'itemTwo', 3, 'itemFour']

### List Methods

In [83]:
listName[2] # To access a list element by their index.

'itemThree'

In [84]:
listName[-1] # To access list element of the list.

'itemFive'

##### Slicing:

In [51]:
print(listName[0:3])
print(listName[1:]) # From index one to last
print(listName[:3]) # From first to index 3
listName[0:-1] #From 0 to index number 2

['itemOne', 'itemTwo', 3]
['itemTwo', 3, 'itemFour']
['itemOne', 'itemTwo', 3]

['itemOne', 'itemTwo', 3]

##### Adding elements to a list:

In [72]:
listName.append('itemFive')
listName

['itemOne', 'itemTwo', 3, 'itemFour', 'itemFive']

In [73]:
listName.insert(2, 'itemThree')
listName

['itemOne', 'itemTwo', 'itemThree', 3, 'itemFour', 'itemFive']

In [82]:
listName[0] = 1
listName

[1, 'itemTwo', 'itemThree', 'itemFour', 'itemFive']

##### Nested List:

In [81]:
nestedList = [listName, listName[1:]] # This is how we can add list and keep in a nested list variable, nested list are kind a 2 dimantional array of C/C++.
print(nestedList)

[[1, 'itemTwo', 'itemThree', 'itemFour', 'itemFive'], ['itemTwo', 'itemThree', 'itemFour', 'itemFive']]

##### Deleting elements from a list:

In [85]:
print(f"The following list element will get deleted: {listName.pop(3)}") # Or if we do not give any index 'object.pop()' then it will delete the last item from the list.
listName

The following list element will get deleted: itemFour

[1, 'itemTwo', 'itemThree', 'itemFive']

In [8]:
country = listName.copy() #This is how we can copy a list.
country.append("Iran")
country.append("Israil")
country.insert(2, "USA")
print(country)
country.remove("Israil") #This is how we can delete an item by it's value.
print(country)
del country[2] # Same as pop() method, but it doesn't return deleted value.
print(country)

['itemOne', 'itemTwo', 'USA', 3, 'itemFour', 'Iran', 'Israil']
['itemOne', 'itemTwo', 'USA', 3, 'itemFour', 'Iran']
['itemOne', 'itemTwo', 3, 'itemFour', 'Iran']

##### List Sorting:

In [13]:
nums = [5,7,3,9,1,4,0,6,8,2]

nums.sort()
print(nums)

nums.sort(reverse = True) #For sorting in reverse order
print(nums)

alpha = ['H','E','A','C','F','G','J','K','B','D','I']

alpha.sort()
print(alpha)

alpha.sort(reverse = True) #For sorting in reverse order
print(alpha)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K']
['K', 'J', 'I', 'H', 'G', 'F', 'E', 'D', 'C', 'B', 'A']

##### To update an element from list:

In [21]:
person = ['Imon', 'Karim', 'Jubair']

person[0] = 'Emon'
person[2] = 'Rafiq'
print(person)

['Emon', 'Karim', 'Rafiq']